<template>
    <div class="row justify-content-center overflow-auto">
        <div v-if="loading" class="spinner-border"></div>
        <div v-else class="col-auto">
        <div class="alert-danger" v-if="error">
            {{ error }}
        </div>
        <div>
            <h4><PlayerName :name="match.team1_player_name"/>'s resources</h4>
            <D3LineChart :config="chartOptions" :datum="resourcesData1"/>
        </div>
        <div>
            <h4><PlayerName :name="match.team2_player_name"/>'s resources</h4>
            <ResourcesChart :chartdata="resourcesData2" :options="chartOptions"/>
        </div>
        <table class="table table-sm mb-5">
            <tr v-for="item in buildOrder" :key="item.replayItemId">
                <td class="p-0 align-middle" colspan="3" v-if="typeof item.teamId === 'undefined'">
                    <ReplayItem :item="item"/>
                </td>
                <td class="p-0 align-middle" v-if="item.teamId == match.team1_id || item.type == 14">
                    <ReplayItem :item="item"/>
                </td><td class="p-0" v-else></td>
                <td class="p-0 px-1 align-middle time">
                    {{ formatItemTime(item.time) }}
                </td>
                <td class="p-0 align-middle" v-if="item.teamId == match.team2_id || item.type == 14">
                    <ReplayItem :item="item"/>
                </td><td class="p-0" v-else></td>
            </tr>
        </table>
        </div>
    </div>
</template>

<script>
import ReplayItem from "./ReplayItem";
import PlayerName from "../PlayerName";
import Api from '../../service/api';
import { D3LineChart } from 'vue-d3-charts';
const { aggregateBuildOrder, itemNameToId, itemIdToColor } = require("../../helpers/buildorder");
import { format } from 'date-fns'

export default {
    name: 'Replay',
    props: ["match"],
    data() {
        return {
            buildOrder: null,
            error: null,
            loading: false,
            resourcesData1: null,
            resourcesData2: null,
            chartOptions: {
                date:{
                    key: false,
                    inputFormat: "mm:ss",
                    outputFormat: "mm:ss"
                },
                values: false,
                axis: {
                    yTitle: false,
                    xTitle: false,
                    yFormat: ".0f",
                    xFormat: "mm:ss",
                    yTicks: 5,
                    xTicks: 3
                },
                color: {
                    key: false,
                    keys: false,
                    scheme: false,
                    current: "#1f77b4",
                    default: "#aaa",
                    axis: "#000"
                },
                curve: "curveLinear",
                points: {
                    visibleSize: 1,
                    hoverSize: 2,
                },
                tooltip: {
                    labels: false,
                },
                transition: {
                    duration: 350,
                    ease: "easeLinear",
                },
                scales: {
                    xAxes: [{
                        type: 'time',
                        distribution: 'series', 
                        time: { tooltipFormat: 'mm:ss'},
                        ticks:{
                            callback: function(value, index, values) {
                                if (!values[index]) {return}
                                return format(new Date(values[index]['value']), 'mm:ss');
                            }
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            min: 0,
                            suggestedMax: 100,
                            stepSize: 10
                        }
                    }]
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                    axis: 'x'
                },
                legend: {
                    align: 'start',
                    labels: {
                        usePointStyle: true
                    }
                },
                maintainAspectRatio: false
            }
        }
    },
    async created() {
        this.loading = true;
        try {
            this.buildOrder = await Api.getDecodedReplay(this.match);
            
            var resources = this.buildOrder.filter(item => item.type == 12);
            resources.forEach(r => {
                var m = new Map();
                r.item.forEach(i => m.set(i.type, i.amount));
                r.coreItemMap = m;
            });
            var res_team1_items = resources.filter(item => item.teamId == this.match.team1_id);
            var res_team2_items = resources.filter(item => item.teamId == this.match.team2_id);

            var datasets1 = [];
            var datasets2 = [];
            for (var resourceName of ["copper", "lead", "metaglass", "graphite", "titanium", "thorium", "silicon"]) {
                var itemId = itemNameToId[resourceName];
                var items1 = res_team1_items.map(r => { return {x: r.time, y: r.coreItemMap.get(itemId) || 0} });
                if (items1.filter(e => e.y > 0).length > 0) {
                    datasets1.push({
                        label: resourceName,
                        data: items1,
                        backgroundColor: `#${itemIdToColor[itemId].substr(0,6)}77`,
                        borderColor: `#${itemIdToColor[itemId].substr(0,6)}ff`,
                        pointRadius: 2
                    });
                }
                var items2 = res_team2_items.map(r => { return {x: r.time, y: r.coreItemMap.get(itemId) || 0} });
                if (items2.filter(e => e.y > 0).length > 0) {
                    datasets2.push({
                        label: resourceName,
                        data: items2,
                        backgroundColor: `#${itemIdToColor[itemId].substr(0,6)}77`,
                        borderColor: `#${itemIdToColor[itemId].substr(0,6)}ff`,
                        pointRadius: 2
                    });
                }
            }
            for (var resourceName of ["plastanium", "phase-fabric", "surge-alloy", "coal", "sand", "scrap", "spore-pod", "blast-compound", "pyratite"]) {
                var itemId = itemNameToId[resourceName];
                var items1 = res_team1_items.map(r => { return {x: r.time, y: r.coreItemMap.get(itemId) || 0} });
                if (items1.filter(e => e.y > 0).length > 0) {
                    datasets1.push({
                        label: resourceName,
                        data: items1,
                        backgroundColor: `#${itemIdToColor[itemId].substr(0,6)}77`,
                        borderColor: `#${itemIdToColor[itemId].substr(0,6)}ff`,
                        hidden: true,
                        pointRadius: 2
                    });
                }
                var items2 = res_team2_items.map(r => { return {x: r.time, y: r.coreItemMap.get(itemId) || 0} });
                if (items2.filter(e => e.y > 0).length > 0) {
                    datasets2.push({
                        label: resourceName,
                        data: res_team2_items.map(r => { return {x: r.time, y: r.coreItemMap.get(itemId) || 0} }),
                        backgroundColor: `#${itemIdToColor[itemId].substr(0,6)}77`,
                        borderColor: `#${itemIdToColor[itemId].substr(0,6)}ff`,
                        hidden: true,
                        pointRadius: 2
                    });
                }
            }
            this.resourcesData1 = {datasets: datasets1};
            this.resourcesData2 = {datasets: datasets2};

            this.buildOrder = aggregateBuildOrder(
                this.buildOrder
                .filter(item => [2,3,4,5,6,7,13,14,16,17].includes(item.type))
                .filter(item => item.type == 14 || item.type == 17 || (item.teamId == this.match.team1_id || item.teamId == this.match.team2_id))
                .filter(item => typeof item.blockId === 'undefined' || item.blockId > 89)
            );
        } catch (err) {
            this.error = err.message;
        }
        this.loading = false;
    },
    components: {
        PlayerName,
        ReplayItem,
        D3LineChart
    },
    methods: {
        formatItemTime: function(time) {
            if (time < 60 * 60 * 1000) {
                return new Date(time).toISOString().substr(14, 9);
            } else {
                return new Date(time).toISOString().substr(11, 8);
            }
        }
    }
}
</script>

<style scoped>
.time {
  width: 1%;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
</style>
<style>
.img {
    width: 24px;
    height: 24px;
}
.destroy {
    color: #B71C1C;
}
</style>