<template>
    <div>
        <div class="row m-0" title="tiebreaker">
            <div class="col align-middle">
            -{{item.damage}} <i class="fas fa-bolt ml-1 destroy"></i>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "TieBreakerReplayItem",
    props: ["item"]
}
</script>

<style>

</style>