<template>
  <span class="badge" v-if="after" :class="{'badge-success': delta > 0, 'badge-secondary': delta == 0, 'badge-danger': delta < 0}"><div class="d-inline" v-if="delta > 0">+</div>{{delta}}</span>
</template>

<script>
export default {
    name: 'EloDelta',
    props: ["before", "after"],
    computed: {
        delta: function() {
            return this.after - this.before;
        }
    }
}
</script>

<style>

</style>