<template>
  <div class="container leaderboard">
    <div class="alert-danger" v-if="error">
      {{ error }}
    </div>
    <div class="row">
      <div class="col">
        <ul v-if="page > 1 || hasMore" class="pagination m-1 justify-content-center">
          <li class="page-item" :class="{disabled: +page < 2}">
            <router-link class="page-link" :to='{name: "matches", params: { page: +page - 1 }}'>Previous</router-link>
          </li>
          <li class="page-item active">
            <a class="page-link" href="#">{{ +page }}</a>
          </li>
          <li class="page-item" :class="{disabled: !hasMore}">
            <router-link class="page-link" :to='{name: "matches", params: { page: +page + 1 }}'>Next</router-link>
          </li>
        </ul>
      </div>
    </div>
    <div class="flex-row">
      <table class="table table-borderless table-sm">
        <Match v-for="match in matchesInProgress" :key="match.match_id" :match="match"/>
      </table>
      <table class="table table-borderless table-sm">
        <Match v-for="match in matchesFinished" :key="match.match_id" :match="match"/>
      </table>
    </div>
  </div>
</template>

<script>
import Api from '../service/api';
import Match from './Match';

export default {
  name: 'Matches',
  props: ["page"],
  data() {
    return {
      matches: null,
      error: null,
      hasMore: false
    }
  },
  mounted() {
    this.$timer.start('refreshMatches')
  },
  timers: {
    refreshMatches: { time: 15000, immediate: true, repeat: true }
  },
  watch: {
    '$route': {
      handler: 'refreshMatches',
      immediate: true
    }
  },
  methods: {
    refreshMatches: async function() {
      try {
        var res = await Api.getMatches(this.page);
        this.matches = res.matches;
        this.hasMore = res.hasMore;
      } catch (err) {
        this.error = err.message;
      }
    }
  },
  computed: {
    matchesInProgress: function() {
      return this.matches.filter(m => m.in_progress)
    },
    matchesFinished: function() {
      return this.matches.filter(m => !m.in_progress)
    }
  },
  components: {
    Match
  }
}
</script>

<style scoped>
.leaderboard {
  max-width: 700px;
}
</style>
