<template>
    <tr>
        <td>
            <img class="img" v-bind:src="'/img/sprites/unit-' + unitNameMap[stats.id] + '-medium.png'" :title="unitNameMap[stats.id]" />
        </td>
        <td>
            {{stats.minutes}}:{{stats.seconds}}
        </td>
    </tr>
</template>

<script>
let unitNameMap = require("../../helpers/buildorder").unitNameMap;

export default {
    name: 'SingleUnitControllingStats',
    props: ['stats'],
    mounted() {
    },
    data() {
        return {
            statsByTime: [],
            unitNameMap
        }
    }
}
</script>

<style>

</style>