<template>
  <div id="app">
    <Navbar/>
    <router-view></router-view>
  </div>
</template>

<script>
import Leaderboard from './components/leaderboard/Leaderboard.vue'
import Navbar from './components/Navbar.vue'

export default {
  name: 'App',
  components: {
    Leaderboard,
    Navbar
  }
}
</script>

<style>
#app {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
.tooltip-inner {
  max-width: 700px;
}
.tooltip.show {
  opacity: 1;
}
</style>
